<!doctype html>
<html lang="en">
    <head>
        <title>Free Online Courses from the World&rsquo;s Top Publishers | Alison </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name='keywords' content='alison, free online courses, free online training, learning, education, homepage'/>
        <meta name='description' content='Freedom to learn and the tools to succeed: join 10 million Alison learners and explore 800 free online courses from top publishers.'/>

        <link rel="icon" type="image/png" href="/templates/site/img/favicon-32x32.png" sizes="32x32"/>
        <link rel="icon" type="image/png" href="/templates/site/img/favicon-16x16.png" sizes="16x16"/>

        <link rel="stylesheet" href="/templates/site/css/A.main.css">

    </head>
    <body>
        <div class="loading">
            <img src="/templates/site/img/loader.gif" alt="Loading" />
        </div>
        <div class="sale sale-no-user">
            <div class="wrapper">
                <h3><span class="icon-crown"> </span> <span class="line-through">&euro;11.99</span> &euro;9.99</h3>
                <p class="sale-desc">Become an Alison Ambassador with Alison T-Shirts!</p>
                <a href="#" class="btn btn-ghost" title="Pre Order Alison T-shirt">Pre-Order Now!</a>
                <a href="#" class="close"><span class="icon-cross"></span></a>
            </div>
        </div>

        <header class="not-loggedin">
            <div class="alternative-search">
                <form method="GET" action="https://alison.com/courses" accept-charset="UTF-8">
                    <input maxlength="200" placeholder="Search for ..." name="q" type="text">
                    <button type="submit" class="btn btn-warning btn-fla"><span class="icon-search"></span></button>
                </form>
            </div>
            <div class="wrapper">
                <div class="login-links">
                    <a href="/register" class="link btn btn-large btn-blue">
                        Sign Up </a>
                    <a href="/login" class="link login-button">
                        <span class="text">Log In</span>
                    </a>
                </div>
                <a href="/" class="logo"><img src="/templates/vendor/img/logo.svg" alt="Alison Logo"></a>
                <a href="/" class="logo-short"><img src="/templates/vendor/img/logo-short.svg" alt="Alison Logo"></a>
                <div class="link float-right">
                    <div class="menu-trigger">
                        <span class="menu-label">Menu</span>
                        <div class="trigger nav-burger">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <ul class="dropdown-nav">
                            <li><a href="https://alison.com" class="icon-home"><span>home</span></a></li>
                            <li><a href="https://alison.com/courses" class="icon-courses"><span>Courses</span></a></li>
                            <li><a href="https://alison.com/learning-paths" class="icon-paths"><span>Learning Paths</span></a></li>
                            <li><a href="https://alison.com/courses/categories" class="icon-search-bar-categories"><span>categories</span></a></li>
                            <li><a href="https://alison.com/shop/merchandise" class="icon-bag"><span>Shop</span></a></li>
                            <li><a href="https://alison.com/faqs" class="icon-faq-line"><span>faqs</span></a></li>
                            <li><a href="https://alison.com/publishers" class="icon-book2"><span>Publishers</span></a></li>
                            <li><a href="https://alison.com/users/graduates" class="icon-hat"><span>Learner graduates</span></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </header>

        <div class="wrapper nav-wrapper">
            <nav class="navigation">
                <ul>
                    <li></li>
                </ul>
            </nav>
        </div>

        <div class="messages-q"></div>

        <div id="main-holder">
            <div class="outer-wrap" style="background-image:url(/templates/site/img/xBG-1.jpg)">
                <section id="bg-hp" class="viewport">
                    <div class="banner-hp">
                        <div class="banner-align align-parent">
                            <div class="align-center">
                                <div class="wrapper hp-wrapper">
                                    <div class="hp-details">
                                        <ul>
                                            <li><span>800+ <br>Free Courses</span></li>
                                            <li><span>1+ <br>Million Graduates</span></li>
                                            <li><span>10+ <br>Million Users</span></li>
                                        </ul>
                                    </div>
                                    <h2>Empower Yourself</h2>
                                    <h1>Free Online Courses from the World’s Leading Experts</h1>
                                    <div class="tabs"></div>
                                    <form method="GET" action="https://alison.com/courses" accept-charset="UTF-8">
                                        <div class="categories-search">
                                            <input class="form-control typeahead" maxlength="200" placeholder="Search for ..." name="q" type="text" value="">
                                            <a href="#" class="categories-trigger ">
                                                <span class="filter-label"></span>
                                                <span class="icon-new-filter"></span>
                                            </a>
                                            <button class="trigger-search" type="submit"><span class="icon-search"></span></button>
                                            <div class="categories">
                                                <div class="categories-holder">
                                                    <div class="selection-count">
                                                        <span class="select">Select a Category or Categories</span>
                                                        <span class="count count-hide">0</span>
                                                        <span class="count-text count-hide">Categories Selected</span>
                                                    </div>
                                                    <div class="select-buttons">
                                                        <input id="selectAll" name="selectAll" type="checkbox">
                                                        <input disabled name="nbCategories" type="hidden" value="9">
                                                        <label for="selectAll">Select All</label>
                                                    </div>
                                                    <div class="filter-checkboxes">
                                                        <input class="filter" id="rc[0]" name="rc[0]" type="checkbox" value="1">
                                                        <label for="rc[0]">
                                                            <span class="icon-category-it"></span>
                                                            <span class="check-label">IT</span>
                                                        </label>
                                                        <input class="filter" id="rc[1]" name="rc[1]" type="checkbox" value="15">
                                                        <label for="rc[1]">
                                                            <span class="icon-category-language"></span>
                                                            <span class="check-label">Language</span>
                                                        </label>
                                                        <input class="filter" id="rc[2]" name="rc[2]" type="checkbox" value="24">
                                                        <label for="rc[2]">
                                                            <span class="icon-category-science"></span>
                                                            <span class="check-label">Science</span>
                                                        </label>
                                                        <input class="filter" id="rc[3]" name="rc[3]" type="checkbox" value="31">
                                                        <label for="rc[3]">
                                                            <span class="icon-category-health"></span>
                                                            <span class="check-label">Health</span>
                                                        </label>
                                                        <input class="filter" id="rc[4]" name="rc[4]" type="checkbox" value="40">
                                                        <label for="rc[4]">
                                                            <span class="icon-category-humanities"></span>
                                                            <span class="check-label">Humanities</span>
                                                        </label>
                                                        <input class="filter" id="rc[5]" name="rc[5]" type="checkbox" value="51">
                                                        <label for="rc[5]">
                                                            <span class="icon-category-business"></span>
                                                            <span class="check-label">Business</span>
                                                        </label>
                                                        <input class="filter" id="rc[6]" name="rc[6]" type="checkbox" value="71">
                                                        <label for="rc[6]">
                                                            <span class="icon-category-math"></span>
                                                            <span class="check-label">Math</span>
                                                        </label>
                                                        <input class="filter" id="rc[7]" name="rc[7]" type="checkbox" value="79">
                                                        <label for="rc[7]">
                                                            <span class="icon-category-marketing"></span>
                                                            <span class="check-label">Marketing</span>
                                                        </label>
                                                        <input class="filter" id="rc[8]" name="rc[8]" type="checkbox" value="84">
                                                        <label for="rc[8]">
                                                            <span class="icon-category-lifestyle"></span>
                                                            <span class="check-label">Lifestyle</span>
                                                        </label>
                                                    </div>
                                                    <div class="view-all">
                                                        <a href="https://alison.com/courses/categories" class="btn">View All</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> </form>
                                    <div class="hp-social-login">
                                        <div class="col-sm-4 social-log">
                                            <a id="google_home" class="social-login g-login" href="/auth/google" rel="nofollow" title="Login with Google">
                                                <div class="icon-google"></div>
                                                <div class="social-text"><span class=" ">Login with </span>Google</div>
                                            </a>
                                        </div>
                                        <div class="col-sm-4 social-log">
                                            <a id="facebook_home" class="social-login fb-login" href="/auth/facebook" title="Login with Facebook">
                                                <div class="icon-facebook"></div>
                                                <div class="social-text"><span class=" ">Login with </span>Facebook</div>
                                            </a>
                                        </div>
                                        <div class="col-sm-4 social-log">
                                            <a id="yahoo_home" class="social-login yahoo-login" href="/auth/yahoo" rel="nofollow" title="Login with Yahoo">
                                                <div class="icon-yahoo"></div>
                                                <div class="social-text"><span class=" ">Login with </span>Yahoo</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="homepage-publishers">
                    <div class="homepage-publishers-inner">
                        <h3>Enjoy the Freedom to Learn and the Tools to Succeed</h3>
                        <div class="homepage-publishers-images">
                            <a href="https://alison.com/publisher/openstax-college" title="Openstax College Courses"></a>
                            <a href="https://alison.com/publisher/saylor-foundation" title="Saylor Foundation Courses"></a>
                            <a href="https://alison.com/publisher/stanford" title="Stanford Courses"></a>
                            <a href="https://alison.com/publisher/microsoft" title="Microsoft Courses"></a>
                            <a href="https://alison.com/publisher/cambridge-university" title="Cambridge University Courses"></a>
                            <a href="https://alison.com/publisher/google" title="Courses by Google"></a>
                            <a href="https://alison.com/publisher/columbia" title="Columbia Courses"></a>
                            <a href="https://alison.com/publisher/mit" title="MIT Courses"></a>
                        </div>
                        <div class="slide-buttons publishers-slider">
                            <span class="icon-right-arrow move-right arrow"></span>
                            <span class="icon-left-arrow move-left arrow"></span>
                        </div>
                    </div>
                </div>

                <div class="our-courses">
                    <div class="buttons-container  four-button ">
                        <div class="buttons-container-inner">
                            <a href="#" data-type="recent-courses" class="course-tab active" title="Recent Courses"><span class="icon-new-alert"></span>Most Recent</a>
                            <a href="#" data-type="trending-courses" class="course-tab" title="Trending Courses"><span class="icon-step3"></span>Trending Now</a>
                            <a href="#" data-type="popular-courses" class="course-tab" title="Popular Courses"><span class="icon-popular"></span>Most Popular</a>
                            <a href="#" data-type="certified-courses" class="course-tab" title="Certified Courses"><span class="icon-hat"></span>Most Certified</a>
                        </div>
                        <div class="slide-buttons course-slider">
                            <span class="icon-right-arrow move-right arrow"></span>
                            <span class="icon-left-arrow move-left arrow"></span>
                        </div>
                    </div>
                    <div class="courses-list">
                        <div class="courses-list-inner wrapper">
                            <div class="courses-container">
                                <ul>
                                    <li class="course" data-id="1200" data-type="course">
                                        <div class="course-holder">
                                            <div class="holder-top">
                                                <img src="https://alison.com/images/courses/1200" alt="Introduction to AngularJS">
                                                <ul class="link-group ">
                                                    <li class="share-trigger">
                                                        <a class="social-link-btn" title="Share this course"><span class="icon-share"></span></a>
                                                        <div class="icon-group">
                                                            <div class="social-buttons">
                                                                <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Falison.com%2Fcourse%2Fintroduction-to-angularjs" target="_blank">
                                                                    <i class="icon-facebook"></i>
                                                                </a>
                                                                <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Falison.com%2Fcourse%2Fintroduction-to-angularjs&amp;text=Take%20your%20web%20development%20skills%20to%20the%20next%20level%20-%20learn%20about%20using%20AngularJS%20to%20create%20resp...%20%40AlisonCourses" target="_blank">
                                                                    <i class="icon-twitter"></i>
                                                                </a>
                                                                <a href="https://plus.google.com/share?url=https%3A%2F%2Falison.com%2Fcourse%2Fintroduction-to-angularjs" target="_blank">
                                                                    <i class="icon-google"></i>
                                                                </a>
                                                                <a href="http://www.linkedin.com/shareArticle?url=https%3A%2F%2Falison.com%2Fcourse%2Fintroduction-to-angularjs&amp;mini=true" target="_blank">
                                                                    <i class="icon-linkedin"></i>
                                                                </a>
                                                            </div> </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="holder-bottom same-height">
                                                <a href="#" title="Introduction to AngularJS">
                                                    <h3 title="Course Id: 1200">Introduction to AngularJS</h3>
                                                    <!--<p>This free online course</p>-->
                                                    <div class="extra-info">
                                                        <div class="course-rating">
                                                            <span class="icon-star"></span>
                                                            <span>5</span>
                                                        </div>
                                                        <div class="difficulty">
                                                            <span class="icon-trophy"></span>
                                                            <span>50 Pts</span>
                                                        </div>
                                                        <div class="time">
                                                            <span class="icon-clock"></span>
                                                            <span>3-4h</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="section-shadow"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="hp-button">
                            <a href="https://alison.com/courses" class="btn btn-large btn-blue" title="More Courses">More Courses</a>
                        </div>
                    </div>
                </div>

                <div class="testimonials-section">
                    <div class="testimonials-section-inner wrapper">
                        <div class="user-testimonial">
                            <div class="user-testimonial-slider">
                                <div class="slider-item">
                                    <div class="img-wrapper">
                                        <div class="img-wrapper-inner">
                                            <img src="/templates/site/img/xtestimonials-christine-mccann.jpg.pagespeed.ic.U9mjw_16pT.jpg" alt="Christine McCann"/>
                                        </div>
                                    </div>
                                    <h4>Christine McCann</h4>
                                    <div class="flag">
                                        <img class="country_flags" src="https://alison.com/images/country-flag/JM" alt="Jamaica"/>
                                        <p class="user-country">Jamaica</p>
                                    </div>
                                    <div class="slide-text">
                                        "Alison provides the knowledge to help individuals reach their goals and start their
                                        journey to a better education. To me, it is a great motivation. Alison is a great career builder –
                                        an inspiration to those who thought gaining an education is impossible due to life circumstances.
                                        It also gave me the push to continue studying, knowing that all that you need to complete your goal
                                        is possible. The learning environment that it provides is beneficial to everyone."
                                    </div>
                                </div> 
                                <div class="slider-item">
                                    <div class="img-wrapper">
                                        <div class="img-wrapper-inner">
                                            <img src="/templates/site/img/xtestimonials=hasan-al-masri.jpg.pagespeed.ic.aWW9M6jjxK.jpg" alt="Hasan Al-Masri"/>
                                        </div>
                                    </div>
                                    <h4>Hasan Al-Masri</h4>
                                    <div class="flag">
                                        <img class="country_flags" src="https://alison.com/images/country-flag/LB" alt="Lebanon"/>
                                        <p class="user-country">Lebanon</p>
                                    </div>
                                    <div class="slide-text">
                                        "Alison opens the doors for new opportunities. The concept of continued learning has really
                                        improved my mental acuity too, and has give me a sense of personal fulfillment. I highly
                                        recommend learning on Alison to enhance your marketable skills, the website is user-friendly
                                        too, which makes studying fun and interesting…and you can study at your own pace."
                                    </div>
                                </div> 
                                <div class="slider-item">
                                    <div class="img-wrapper">
                                        <div class="img-wrapper-inner">
                                            <img src="/templates/site/img/xtestimonials-ambroisine-azododassi.jpg.pagespeed.ic._AyuEzuBJm.jpg" alt="Ambroisine Azododassi"/>
                                        </div>
                                    </div>
                                    <h4>Ambroisine Azododassi</h4>
                                    <div class="flag">
                                        <img class="country_flags" src="https://alison.com/images/country-flag/TG" alt="Togo"/>
                                        <p class="user-country">Togo</p>
                                    </div>
                                    <div class="slide-text">
                                        "I found Alison and it was exactly what I needed – courses in English and the ability to
                                        organize myself my own study time. These courses have helped me a lot in my work and also
                                        have increased my general knowledge. Courses such as Introduction to Time Management helped
                                        me to organize myself to manage my business. By completing the course on Developing a Business
                                        Model for a Digital Media Company, I acquired the knowledge to set up a new communication strategy.
                                        These courses really helped me and I thank Alison. I think everyone should study on Alison. It’s great!"
                                    </div>
                                </div> 
                                <div class="slider-item">
                                    <div class="img-wrapper">
                                        <div class="img-wrapper-inner">
                                            <img src="/templates/site/img/xtestimonial-rocky-j-mark.jpg.pagespeed.ic.0Hi2UXGmA-.jpg" alt="Rocky J. Mark"/>
                                        </div>
                                    </div>
                                    <h4>Rocky J. Mark</h4>
                                    <div class="flag">
                                        <img class="country_flags" src="https://alison.com/images/country-flag/PK" alt="Pakistan"/>
                                        <p class="user-country">Pakistan</p>
                                    </div>
                                    <div class="slide-text">
                                        "Alison has assisted my higher education by helping me to complete my case studies/thesis
                                        and projects on different subjects. I always try to learn new things and Alison is my best
                                        resource to up-skill. The skills and knowledge I have gained through Alison also help me in
                                        my daily different job activities, because you can’t do today’s job with yesterday’s methods
                                        and still be in business tomorrow."
                                    </div>
                                </div> 
                            </div>
                            <div class="user-testimonial-text">
                                <h5>Inspiring Stories</h5>
                                <div class="user-current-text">
                                    <p>
                                        "Alison provides the knowledge to help individuals reach their goals and start their
                                        journey to a better education. To me, it is a great motivation. Alison is a great career builder –
                                        an inspiration to those who thought gaining an education is impossible due to life circumstances.
                                        It also gave me the push to continue studying, knowing that all that you need to complete your goal
                                        is possible. The learning environment that it provides is beneficial to everyone."
                                    </p>
                                </div>
                                <div class="testimonial-navigation">
                                    <span class="icon-left-arrow left"></span>
                                    <span class="icon-right-arrow right"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-outer">
            <div class="login-modal">
                <div class="inner-modal">
                    <div class="login-container">
                        <ul class="tab-content">
                            <li id="login" class="tab active">
                                <h3>Why not sign in?</h3>
                                <div class="close-modal"><span class="icon-cross2"></span></div>
                                <div class="icon-group">
                                    <a href="/auth/facebook" rel="nofollow">
                                        <span class="icon-facebook">
                                            <span class="circle-facebook">
                                                <span class="round"></span>
                                            </span>
                                        </span>
                                    </a>
                                    <a href="/auth/google" rel="nofollow">
                                        <span class="icon-google">
                                            <span class="circle-google">
                                                <span class="round"></span>
                                            </span>
                                        </span>
                                    </a>
                                    <a href="/auth/yahoo" rel="nofollow">
                                        <span class="icon-yahoo">
                                            <span class="circle-yahoo">
                                                <span class="round"></span>
                                            </span>
                                        </span>
                                    </a>
                                    <a href="/auth/live" rel="nofollow">
                                        <span class="icon-windows">
                                            <span class="circle-windows">
                                                <span class="round"></span>
                                            </span>
                                        </span>
                                    </a>
                                    <a href="/auth/linkedin" rel="nofollow">
                                        <span class="icon-linkedin">
                                            <span class="circle-linkedin">
                                                <span class="round"></span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="clearfix"></div>
                                <div class="or-line">
                                    <span>OR</span>
                                </div>
                                <div class="form-group">
                                    <form method="POST" action="https://alison.com/login" accept-charset="UTF-8" data-login-form name="login-form"><input name="_token" type="hidden" value="MI5hM9bm84LosiEdxN5RmYkemGBCrj7Zc1YS7bUe">
                                        <div class="input-field icon-envelope ">
                                            <input class="form-control" placeholder="Email address" required name="email" type="email">
                                        </div>
                                        <div class="input-field icon-lock ">
                                            <input class="form-control" placeholder="Password" required name="password" type="password" value="">
                                        </div>
                                        <p class="half-width">
                                            <input id="remember" name="remember" type="checkbox">
                                            <label for="remember" class="form-checkbox">Keep me logged in</label>
                                        </p>
                                        <ul class="half-width">
                                            <li data-name="forgotpassword" class="form-link tab-title">
                                                <a href="#">Forgot password?</a>
                                            </li>
                                        </ul>
                                        <div class="errors">
                                            <ul>
                                            </ul>
                                        </div>
                                        <input name="current" type="hidden" value="https://alison.com">
                                        <input class="submit-login" type="submit" value="Log In">
                                        <ul id="login-buttons" class="tab-navbar">
                                            <li class="signup-account switch-tab">
                                                Don't have an Alison account? <a href="https://alison.com/register">Register</a>
                                            </li>
                                        </ul>
                                    </form>
                                </div>
                            </li>
                            <li id="signup" class="tab ">
                                <h3>Join us now</h3>
                                <span class="sub-msg">The World’s Largest Free Learning Community</span>
                                <div class="close-modal"><span class="icon-cross2"></span></div>
                                <div class="icon-group">
                                    <a href="/auth/facebook" rel="nofollow">
                                        <span class="icon-facebook">
                                            <span class="circle-facebook">
                                                <span class="round"></span>
                                            </span>
                                        </span>
                                    </a>
                                    <a href="/auth/google" rel="nofollow">
                                        <span class="icon-google">
                                            <span class="circle-google">
                                                <span class="round"></span>
                                            </span>
                                        </span>
                                    </a>
                                    <a href="/auth/yahoo" rel="nofollow">
                                        <span class="icon-yahoo">
                                            <span class="circle-yahoo">
                                                <span class="round"></span>
                                            </span>
                                        </span>
                                    </a>
                                    <a href="/auth/live" rel="nofollow">
                                        <span class="icon-windows">
                                            <span class="circle-windows">
                                                <span class="round"></span>
                                            </span>
                                        </span>
                                    </a>
                                    <a href="/auth/linkedin" rel="nofollow">
                                        <span class="icon-linkedin">
                                            <span class="circle-linkedin">
                                                <span class="round"></span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                                <div class="clearfix"></div>
                                <div class="or-line">
                                    <span>OR</span>
                                </div>
                                <div class="form-group">
                                    <form method="POST" action="https://alison.com/register" accept-charset="UTF-8" data-signup-form id="signup-form" name="register-form"><input name="_token" type="hidden" value="MI5hM9bm84LosiEdxN5RmYkemGBCrj7Zc1YS7bUe">
                                        <div class="input-field icon-user ">
                                            <input class="form-control" id="firstName" placeholder="First Name" autocomplete="off" minlength="2" required name="firstname" type="text">
                                        </div>
                                        <div class="input-field icon-user ">
                                            <input class="form-control" id="lastName" placeholder="Last Name" autocomplete="off" minlength="2" required name="lastname" type="text">
                                        </div>
                                        <div class="input-field-email icon-envelope ">
                                            <input class="form-control" id="emailNew" placeholder="E-Mail" autocomplete="off" required name="signup_email" type="email">
                                        </div>
                                        <div class="input-field icon-lock ">
                                            <input class="form-control" id="signup_password" placeholder="Password" autocomplete="off" minlength="6" required name="signup_password" type="password" value="">
                                        </div>
                                        <div class="input-field icon-lock ">
                                            <input class="form-control" id="confirmPassword" placeholder="Confirm Password" autocomplete="off" minlength="6" required name="signup_password_confirmation" type="password" value="">
                                        </div>
                                        <input name="current" type="hidden" value="https://alison.com">
                                        <input class="submit-login signup-button" type="submit" value="Register">
                                        <ul id="login-buttons" class="tab-navbar">
                                            <li class="signup-account login-account switch-tab">
                                                Already have an Alison account? <a href="https://alison.com/login">Log In</a>
                                            </li>
                                            <li class="signup-account terms">
                                                <a href="https://alison.com/about/terms-of-use/product-terms-and-conditions">Terms and Conditions</a>
                                            </li>
                                        </ul>
                                    </form>
                                </div>
                            </li>
                            <li id="forgotpassword" class="tab ">
                                <h3>Forgot password?</h3>
                                <div class="form-group">
                                    <div class="content-pw">
                                        <img src="/templates/site/img/xlogin-password-illustration.png.pagespeed.ic.cFDG48dCcK.png" alt="forgot password image">
                                        <p>
                                            We will send your password reset instructions to your associated address. Please enter your current email. </p>
                                    </div>
                                    <form method="POST" action="https://alison.com/password/email" accept-charset="UTF-8" data-forgot-form name="forgot-password-form"><input name="_token" type="hidden" value="MI5hM9bm84LosiEdxN5RmYkemGBCrj7Zc1YS7bUe">
                                        <div class="input-field icon-envelope ">
                                            <input class="form-control" placeholder="Email address" required name="email" type="email">
                                        </div>
                                        <input class="submit-login" type="submit" value="Reset my password">
                                        <ul id="login-buttons" class="tab-navbar">
                                            <li class="signup-account tab-title" data-name="login">
                                                <a href="#">Back to login</a>
                                            </li>
                                        </ul>
                                    </form>
                                </div>
                            </li>
                        </ul>
                        <div class="section-shadow"></div>
                    </div>
                </div>
            </div> 
        </div>
        <script src="https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit" async defer></script>
        <script>var CaptchaCallback = function () {
                $('.g-recaptcha').each(function (index, el) {
                    grecaptcha.render(el, {'sitekey': '6Lcylw0UAAAAACAJX9erjqRE8FLN-O_dIGKgk9XQ'});
                });
                var contact_us_captcha = $('form[name="contact-form"]').find('textarea[id="g-recaptcha-response"]');
                var faqs_captcha = $('form[name="faqs-form"]').find('textarea[id="g-recaptcha-response"]');
                var application_form_captcha = $('form[name="application-form"]').find('textarea[id="g-recaptcha-response"]');
                contact_us_captcha.attr('name', 'contact-g-recaptcha-response');
                faqs_captcha.attr('name', 'faq-g-recaptcha-response');
                application_form_captcha.attr('name', 'application-g-recaptcha-response');
            }, RecaptchaOptions = {lang: 'en', };</script>

        <footer class="main">
            <div class="main-bg">
                <div class="wrapper">
                    <ul class="tab-content">
                        <li id="about" class="tab  active ">
                            <div class="tab-holder">
                                <div class="col-3">
                                    <h4 class="tab-sub-title">Our Story</h4>
                                    <div class="half">
                                        <img src="/templates/site/img/xour-story.jpg.pagespeed.ic.unM4iRg_ht.jpg" alt="Alison Story">
                                    </div>
                                    <div>
                                        <p>With more than 10 million learners globally, Alison is changing how the world learns.</p>
                                        <a href="https://alison.com/about/our-story" class="btn btn-blue" title="Alison Story">Read more</a>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <h4 class="tab-sub-title">Our Team</h4>
                                    <div class="half">
                                        <img src="/templates/site/img/xfooter-team-image.jpg.pagespeed.ic.YchdUFMeSV.jpg" alt="Alison Team">
                                    </div>
                                    <div>
                                        <p>We believe that education, more than anything, empowers people to change their lives.</p>
                                        <a href="https://alison.com/about/our-team" class="btn btn-blue" title="Alison Team">Read more</a>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <h4 class="tab-sub-title">Empower Us</h4>
                                    <div class="half">
                                        <img src="/templates/site/img/xempower-us.jpg.pagespeed.ic.RQQ4tS7foY.jpg" alt="Register">
                                    </div>
                                    <div>
                                        <p>As our Ambassador, see how you can help us grow.</p>
                                        <a href="https://alison.com/empower-us" class="btn btn-blue" title="Support Alison">Empower Us</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li id="news" class="tab ">
                            <div class="tab-holder">
                                <div class="col-3">
                                    <h4 class="tab-sub-title">FAQ</h4>
                                    <div class="half">
                                        <img src="/templates/site/img/xfaq.jpg.pagespeed.ic._8wj37B-1P.jpg" alt="Alison Logo">
                                    </div>
                                    <div>
                                        <p>Get the answers to commonly asked questions about learning on Alison.</p>
                                        <a href="https://alison.com/faqs" class="btn btn-blue" title="Frequently Asked Questions">Read more</a>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <h4 class="tab-sub-title">Contact us</h4>
                                    <div class="half">
                                        <img src="/templates/site/img/xcontact.jpg.pagespeed.ic.94k4fiZSCd.jpg" alt="Alison Logo">
                                    </div>
                                    <div>
                                        <p>Need to get in touch? Find out how.</p>
                                        <a href="https://alison.com/contact-us" class="btn btn-blue" title="Contact Alison">Read more</a>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <h4 class="tab-sub-title">Register</h4>
                                    <div class="half">
                                        <img src="/templates/site/img/xfooter-sign-up.jpg.pagespeed.ic.1Aq3XmlVTf.jpg" alt="Alison Logo">
                                    </div>
                                    <div>
                                        <p>With over 800 free-to-access courses to choose from, why not start now?</p>
                                        <a href="https://alison.com/register" class="btn btn-blue" title="Sign up to Alison">Register</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li id="shop" class="tab">
                            <div class="tab-holder">
                                <div class="col-3">
                                    <h4 class="tab-sub-title">Certificate</h4>
                                    <div class="half">
                                        <img src="/templates/site/img/xcertificate.jpg.pagespeed.ic.IM-raNOG4c.jpg" alt="Alison Logo">
                                    </div>
                                    <div>
                                        <p>If you’ve completed your Certificate course, visit our shop to make your success formal!</p>
                                        <a href="https://alison.com/shop/cart" class="btn btn-blue" title="Order Alison Certificate">Order now</a>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <h4 class="tab-sub-title">Diploma</h4>
                                    <div class="half">
                                        <img src="/templates/site/img/xdiploma.jpg.pagespeed.ic.5wfWg3HExC.jpg" alt="Alison Logo">
                                    </div>
                                    <div>
                                        <p>If you’ve completed your Diploma course, visit our shop to make your success formal!</p>
                                        <a href="https://alison.com/shop/cart" class="btn btn-blue" title="Order Alison Diploma">Order now</a>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <h4 class="tab-sub-title">Shop</h4>
                                    <div class="half">
                                        <img src="/templates/site/img/shop/small/xs-white.jpg.pagespeed.ic.rIU2myWq9-.jpg" alt="Alison Logo">
                                    </div>
                                    <div>
                                        <p>Order your Alison merchandise and become an Ambassador today!</p>
                                        <a href="https://alison.com/shop/merchandise" class="btn btn-blue" title="Alison Merchandise">Order now</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li id="programs" class="tab">
                            <div class="tab-holder">
                                <div class="col-3">
                                    <h4 class="tab-sub-title">Alison in Action</h4>
                                    <div class="half">
                                        <img src="/templates/site/img/xnews.jpg.pagespeed.ic.mRQ194HhMv.jpg" alt="Alison Logo">
                                    </div>
                                    <div>
                                        <p>See what the international media is saying about Alison.</p>
                                        <a href="https://blog.alison.com/alisoninaction" target="_blank" class="btn btn-blue" title="Alison News">Read more</a>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <h4 class="tab-sub-title">Press Releases</h4>
                                    <div class="half">
                                        <img src="/templates/site/img/xpress.jpg.pagespeed.ic.48X1x5MwLZ.jpg" alt="Alison Logo">
                                    </div>
                                    <div>
                                        <p>Keep up to date with our learning initiatives worldwide.</p>
                                        <a href="https://alison.com/news/press-releases" class="btn btn-blue" title="Alison Press Releases">Read more</a>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <h4 class="tab-sub-title">Media Kit</h4>
                                    <div class="half">
                                        <img src="/templates/site/img/xmedia-kit.jpg.pagespeed.ic.jNGxHEL-ee.jpg" alt="Alison Logo">
                                    </div>
                                    <div>
                                        <p>The details you need to understand our business better.</p>
                                        <a href="https://cdn2.hubspot.net/hubfs/2506107/Alison%20Media%20Kit.pdf" target="_blank" class="btn btn-blue" title="Alison Media">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li id="community" class="tab">
                            <div class="tab-holder">
                                <div class="col-3">
                                    <h4 class="tab-sub-title">Latest Posts</h4>
                                    <div class="half">
                                        <img src="images/xlatest-post.jpg" alt="Alison Logo">
                                    </div>
                                    <div>
                                        <p>Keep up-to-date with all the news from Alison HQ.</p>
                                        <a href="https://blog.alison.com/" target="_blank" class="btn btn-blue" title="Alison Blog">Read more</a>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <h4 class="tab-sub-title">Alison in Action</h4>
                                    <div class="half">
                                        <img src="images/xnews.jpg" alt="Alison Logo">
                                    </div>
                                    <div>
                                        <p>See what the international media is saying about Alison.</p>
                                        <a href="https://blog.alison.com/alisoninaction" target="_blank" class="btn btn-blue" title="Alison News">Read more</a>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <h4 class="tab-sub-title">Register</h4>
                                    <div class="half">
                                        <img src="images/xfooter-sign-up.jpg" alt="Alison Logo">
                                    </div>
                                    <div>
                                        <p>With over 800 free-to-access courses to choose from, why not start now?</p>
                                        <a href="https://alison.com/register" class="btn btn-blue" title="Sign up to Alison">Register</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="wrap-bottom top">
                <div class="half-bottom">
                    <ul class="tab-navbar">
                        <li data-name="about" class="tab-title  active "><a href="#" class="icon-about" title="About Alison"><span class="text">About Alison</span></a></li>
                        <li data-name="news" class="tab-title "><a href="#" class="icon-faq" title="Alison Support"><span class="text">Need Help</span></a></li>
                        <li data-name="shop" class="tab-title"><a href="#" class="icon-alisonShop" title="Alison Shop"><span class="text">Shop</span></a></li>
                        <li data-name="programs" class="tab-title"><a href="#" class="icon-news" title="Alison News"><span class="text">Press Room</span></a></li>
                        <li data-name="community" class="tab-title"><a href="#" class="icon-globe" title="Alison Blog"><span class="text">Blog</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="wrap-bottom">
                <div class="main-bottom">
                    <img src="/templates/vendor/img/logo.svg" alt="Alison Logo" class="logo"/>
                    <ul>
                        <li class="icon-rights"><span>&copy; ALISON 2017</span></li>
                        <li class="icon-rights"><a href="#" title="">Sitemap</a></li>
                        <li class="icon-rights"><a href="#" title="Company Details">Company details</a></li>
                        <li class="icon-rights"><a href="#" title="Terms and conditions">Terms of use</a></li>
                        <li class="icon-rights"><a href="#" title="Careers">Careers</a></li>
                        <li class="icon-rights"><a href="#" title="Pricing">Pricing</a></li>
                        <li class="icon-rights"><a href="#" title="Certification">Certification</a></li>
                    </ul>
                    <div class="icon-group">
                        <a href="https://www.facebook.com/" target="_blank">
                            <i class="icon-facebook"></i>
                        </a>
                        <a href="https://twitter.com/" target="_blank">
                            <i class="icon-twitter"></i>
                        </a>
                        <a href="https://www.linkedin.com/" target="_blank">
                            <i class="icon-linkedin"></i>
                        </a>
                    </div> </div>
            </div>
        </footer>

        <!--[if lt IE 11]>
        <div id="outdated">
            <div class="holder">
                <h6>Your browser is out-of-date!</h6>
                <p>Please update your browser to view Alison correctly. <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/" class="btn btn-green" target="_blank">Update browser</a></p>
                <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>
            </div>
        </div>
        <![endif]-->
        
        <!--[if lt IE 11]>
        <script src="/templates/vendor/js/outdatedBrowser.min.js"></script>
        <script>
            $(document).ready(function () {
                outdatedBrowser({
                    bgColor: 'rgba(45, 57, 66, 0.7) !important',
                    color: '#ffffff',
                    lowerThan: 'boxShadow'
                })
            })
        </script>
        <![endif]-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/templates/vendor/js/typed.js+response.min.js"></script>
        <script>eval(mod_pagespeed_mrDCCoSRQz);</script>
        <script src="/templates/site/js/slick.min.js"></script>
        <script src="/templates/site/js/custom.js"></script>
        <script src="/templates/vendor/js/jquery.mCustomScrollbar.min.js"></script>
        <script src="/templates/site/js/main.js"></script>
        <script src="/templates/site/js/lang.js"></script>
    </body>
</html>